@media (max-width: 785px) {
    .navigation{
        padding: 18px 20px;
    }

    .menu{
        display: block;
    }

    .menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        transition: 0.2s;
    }

    .menu.ativo .bar:nth-child(2){
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        transition: 0.2s;
    }

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 70%;
        height: 70%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }

    .nav-menu.ativo{
        right: 0;
    }

    .nav-item{
        margin: 16px 0;
    }
}